streamlit
pandas
requests
pypdf
gspread
google-auth
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
pysqlite3-binary
huggingface-hub>=0.25.0
